{% set title = "Transkribieren" %}
{% extends "layout.html" %}

{% block content %}
    {% if result and result.submitted %}
        <p class="alert alert-success">
            <strong>Danke! <img alt=":-)"
                                src="//www.fonflatter.de/wp-includes/images/smilies/fred_grins.png"></strong><br>
            Deine Transkription wurde gespeichert.</p>
    {% else %}

        {% if result -%}
            {% if 'could_not_save' in result.errors %}
                <p class="alert alert-danger">Fehler beim Speichern!</p>
            {% endif %}

            {% if 'wrong_solution' in result.errors %}
                {% set is_solution_wrong = true %}
            {% endif %}

            {% if 'transcription_missing' in result.errors -%}
                {% set is_transcription_missing = true %}
            {% endif %}
        {% else %}
            <p>
                Einen Comic zu transkribieren, ist einfach. Kopiere einfach Dialoge und – falls vorhanden – Geräusche
                und
                Erzählstimme hinter den Namen der lautgebenden Personen. Jede Person kommt in eine eigene Zeile und nach
                jedem Panel
                fügst du eine Leerzeile ein. Wenn du willst, kannst du zusätzlich noch für jedes Panel eine
                Bildbeschreibung in
                zweifachen eckigen Klammer und den Mouseovertext in zweifachen geschweiften Klammern anfügen.
            </p>
        {% endif %}

        <p>
            Falls Fragen bestehen, schau einfach ins <a href="{{ app.mountpath }}/">Archiv</a> oder schreib mir eine
            <a href="/kontakt/">Mail</a>. Und so.
        </p>
        <hr>

        {% if not result %}
            <div class="text-center" id="comic">
                <img src="//fonflatter.de/{{ comic_url }}"/>
            </div>
            <hr>
        {% endif %}

        <form class="form-horizontal" method="post">

            <div class="form-group{% if is_solution_wrong %} has-error{% endif %}">
                {% if input.num_1 and input.num_2 %}
                    {% set num_1 = input.num_1 %}
                    {% set num_2 = input.num_2 %}
                {% else %}
                    {% set digits = [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                    {% set num_1 = digits | random %}
                    {% set num_2 = digits | random %}
                {% endif %}
                <input name="num_1" type="hidden" value="{{ num_1 }}"/>
                <input name="num_2" type="hidden" value="{{ num_2 }}"/>
                <label class="col-lg-4 control-label" for="solution">Bitte addiere {{ num_1 }} und {{ num_2 }}:<br>
                    <small>(um Spam zu vermeiden)</small>
                </label>

                <div class="col-lg-2">
                    <input class="form-control input-sm" alt="Lösung" id="solution" name="solution" type="text"
                           value="{{ input.solution }}"/>
                </div>

                {% if is_solution_wrong -%}
                    <div class="col-lg-4 control-label text-danger">Das stimmt leider nicht!</div>
                {%- endif %}
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label" for="user">Name
                    <small>(optional)</small>
                    :
                </label>

                <div class="col-lg-6">
                    <input class="form-control input-sm" alt="Name" id="user" name="user" type="text"
                           value="{{ input.name }}"/>
                </div>
            </div>

            <div class="form-group{% if is_transcription_missing %} has-error{% endif %}">
                <label class="col-lg-4 control-label" for="transcription">Transkription:</label>
                {% if is_transcription_missing -%}
                    <div class="col-lg-offset-2 col-lg-4 control-label text-danger">Transkription fehlt!</div>
                {%- endif %}
            </div>

            <p class="form-group{% if is_transcription_missing %} has-error{% endif %}">
                <textarea class="col-lg-12 form-control" cols="50" id="transcription" name="transcription"
                          rows="10">{{ input.transcription }}</textarea>
            </p>

            <p class="form-group pull-right">
                <button class="btn btn-default" type="submit">speichern</button>
            </p>
        </form>
    {% endif %}

    <p><hr><a href="{{ app.mountpath }}">zum Archiv</a></p>
{% endblock %}
